.main {
    grid-area: main;
}
.content {
    max-width: 1200px;
    background-color: #182636;
    height: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 200px;

}
.leftContent {
    position: relative;
}
.avatar {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all .2s linear;
}
.avatar:hover {
    transform: rotate(2deg);
}
.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    max-height: 32%;
}
.upload {
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
.uploadIcon {
    height: 40px;
    width: 40px;
}
.uploadContainer {
    height: 40px;
    width: 40px;
    margin: 2px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -50px;
    border-radius: 50%;
    cursor: pointer;

    transition: all .2s linear;
}
.uploadContainer:hover {
    transform: scale(1.05);
}
