.activePage {
    color: #F51A51;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.page {
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}
.paginationContainer {
    display: flex;
    align-items: center;
    gap: 3px;
    border: 1px solid #F51A51;
    max-width: max-content;
    padding: 2px 10px 2px 10px;
    margin-bottom: 15px;
}
