.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #182636;
    border: 1px solid #F51A51;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.header::after {
    content: url("/src/assets/img/snegovik.png");
    position: absolute;
    top: -14px;
    right: -21px;
    cursor: pointer;
}
.headerLogo {
    position: relative;
    color: #F51A51;
    font-weight: 700;
    font-size: 25px;
}
.headerLogo::after {
    content: url("/src/assets/img/shapka.png");
    position: absolute;
    top: -8px;
    right: -9px;

}
.login {
    margin-right: 55px;
    position: relative;
    top: 10px;
    right: 71px;
}



