.profileInfo {
    border-bottom: 1px solid #f51a51;
    max-width: max-content;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.profileWrapper {
    max-width: max-content;
    position: relative;
}
.spanItem {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #F51A51;
    border-bottom: 1px solid #8c8c8c;
}
.contentList {
    color: #F51A51;
}
.listItem {
    width: max-content;
    border-bottom: 1px solid #8c8c8c;
}
.spanText {
    color: #ffffff;
}
.contentItem {
    cursor: pointer;
    transition: all .2s linear;
    max-width: max-content;
}
.contentItem:hover {
    transform: scale(1.05);
    border-bottom: 1px solid #F51A51;
}
.listElement {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px dotted #8c8c8c;
}
.listElementSpan {
    color: #ffffff;
    text-align: right;
}
.profileBtnIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;

    transition: all .2s linear;
}
.profileBtnIcon:hover {
    transform: scale(1.05);
}
.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
