.spanItem {
    color: #F51A51;
}
.contentItem {
    cursor: pointer;
    transition: all .2s linear;
    max-width: max-content;
}
.contentItem:hover {
    transform: scale(1.05);
    border-bottom: 1px solid #F51A51;
}
