.container {
    margin: 15px 0px;
    display: flex;
    gap: 100px;
    height: calc(100vh - 90px);
}
.dialogsContainer {
    border: 1px solid #f51a51;
    height: max-content;
    padding: 10px;
    background-color: rgba(245, 26, 81, 0.2);
}
.messagesContainer {
    border: 1px solid #f51a51;
    height: max-content;
    padding: 10px;
    background-color: rgba(245, 26, 81, 0.2);
}
